{% extends 'base.html' %} 

{% block title %}Manager Dashboard{% endblock %} 

{% block content %}
    <div class="flex flex-row">
        <div class="bg-gray-800 border-gray-700 w-72 min-h-screen z-0">
            <ul class="w-full">
                <li class="sidebar-links" onclick="location.href=`{% url 'manager:user_list' %}`">Users</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'manager:tenant_list' %}`">Tenants</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'manager:room_list' %}`">Rooms</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'manager:room_request_list' %}`">Room Requests</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'manager:meal_list' %}`">Today's Meal List</li>
            </ul>
        </div>
        <div class="w-full flex flex-col justify-start items-center">
            {% block manager_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

