{% extends "manager_app/manager_dashboard.html" %}

{% block title %}Room Requests{% endblock %}

{% block manager_content %}
<div class="w-5/6 bg-slate-800 rounded-xl my-10 p-10 flex flex-col justify-center gap-5">
    <h1 class="text-4xl text-center text-white">Room Requests</h1>
    <table>
        <tr>
            <th>User</th>
            <th>Start Date</th>
            <th>Room Type</th>
            <th>AC</th>
            <th>Balcony</th>
            <th>Attached Bathroom</th>
            <th>#Available Rooms</th>
        </tr>
        {% for room_request, available_rooms in room_requests %}
        <tr onclick="location.href=`{% url 'manager:room_request_detail' room_request.pk %}`">
            <td>{{ room_request.user.first_name }} {{ room_request.user.last_name }}</td>
            <td>{{ room_request.start_date }}</td>
            <td class="text-center">{{ room_request.get_room_type_display }}</td>
            <td class="text-center">{{ room_request.get_ac_display }}</td>
            {% if room_request.balcony %}
            <td class="text-center"><i class="fa-solid fa-square-check fa-lg"></i></td>
            {% else %}
            <td class="text-center"><i class="fa-sharp fa-solid fa-square-xmark fa-lg"></i></td>
            {% endif %}
            {% if room_request.attached_bathroom %}
            <td class="text-center"><i class="fa-solid fa-square-check fa-lg"></i></td>
            {% else %}
            <td class="text-center"><i class="fa-sharp fa-solid fa-square-xmark fa-lg"></i></td>
            {% endif %}
            <td class="text-center">{{ available_rooms }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="flex flex-col items-center">

        <span class="text-sm text-gray-700 dark:text-gray-400">
            Page <span class="font-semibold text-gray-900 dark:text-white">{{ page_obj.number }}</span> of <span
                class="font-semibold text-gray-900 dark:text-white">{{ page_obj.paginator.num_pages }}</span>
        </span>
        <div class="inline-flex mt-2 xs:mt-0">
            {% if page_obj.has_previous %}
            <button onclick="location.href='?page={{ page_obj.previous_page_number }}'"
                class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <svg class="w-3.5 h-3.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 5H1m0 0 4 4M1 5l4-4" />
                </svg>
                Prev
            </button>
            {% endif %}
            {% if page_obj.has_next %}
            <button onclick="location.href='?page={{ page_obj.next_page_number }}'"
                class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-l border-gray-700 rounded-r hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}