{% extends "manager_app/manager_dashboard.html" %}

{% block title %}Missing Laundry{% endblock %}

{% block manager_content %}
<div class="w-5/6 bg-slate-800 rounded-xl my-10 p-10 flex flex-col justify-center gap-5">
    <h1 class="text-4xl text-center text-white">Laundry Request Items</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Tenant</th>
            <th>Item</th>
            <th>Color</th>
            <th>Update</th>
        </tr>
        {% for item in laundry_items %}
        <tr class="text-center">
            <td>{{ item.laundry_request.date }}</td>
            <td>{{ item.laundry_request.tenant.user.first_name }} {{ item.laundry_request.tenant.user.last_name }}</td>
            <td>{{ item.get_item_display }}</td>
            <td>{{ item.color }}</td>
            <td><button onclick="location.href=`{% url 'manager:missing_laundry_update' item.pk %}`">
                    {{ button}}
                </button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}