{% extends 'base.html' %} 

{% block title %}Manager Dashboard{% endblock %} 

{% block content %}
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button>
    <div class="flex flex-row">
        <div class="bg-gray-800 border-gray-700 w-72 min-h-screen z-0 lg:block hidden" id="sidebar">
            <ul class="w-full">
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:manager_dashboard' %}`">Dashboard</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:user_list' %}`">Users</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:tenant_list' %}`">Tenants</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:room_list' %}`">Rooms</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:room_request_list' %}`">Room Requests</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:lunch_list' %}`">Today's Lunch List</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:dinner_list' %}`">Today's Dinner List</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:cleaning_list' %}`">Cleaning</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:repair_list' %}`">Repair</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:laundry_list' %}`">Laundry</li>
                <li class="sidebar-links cursor-pointer" onclick="location.href=`{% url 'manager:feedback_list' %}`">Feedback</li>
            </ul>
        </div>
        <div class="w-full flex flex-col justify-start items-center">
            {% block manager_content %}
            <div class="bg-gray-800 text-white mt-10 p-10 border rounded">
                <h1>Branch Info</h1>
                <ul class="w-full">
                    <li>{{ branch.name }}</li>
                    <li>{{ branch.address }}</li>
                    <li>Phone no - {{ branch.phone_no }}</li>
                    <li>Single Room Base Rent - {{ branch.single_room_base_rent }}</li>
                    <li>Double Room Base Rent - {{ branch.double_room_base_rent }}</li>
                    <li>AC Rent Addition - {{ branch.ac_rent_addition }}</li>
                    <li>Balcony Rent Addition - {{ branch.balcony_rent_addition }}</li>
                    <li>Attached Bathroom Rent Addition - {{ branch.attached_bathroom_rent_addition }}</li>
                    <li>Meal Price - {{ branch.meal_price }}</li>
                    <li>Cleaning Slot Limit - {{ branch.cleaning_slot_limit }}</li>
                </ul>
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

