{% extends "manager_app/manager_dashboard.html" %}

{% block title %}Today's Meal{% endblock %}

{% block manager_content %}
<div class="w-5/6 bg-slate-800 rounded-xl my-10 p-10 flex flex-col justify-center gap-5">
    <h1 class="text-4xl text-center text-white">{{ meal_time }}</h1>
    <table>
        <tr>
            <th class="text-center">Tenant Name</th>
            <th class="text-center">Room No</th>
            <th class="text-center">Quantity</th>
        </tr>
        {% for meal in meals %}
        <tr>
            <td class="text-center">{{ meal.tenant.user.first_name}} {{ meal.tenant.user.last_name }}</td>
            <td class="text-center">{{ meal.tenant.room.room_no }}</td>
            <td class="text-center">{{ meal.get_quantity }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
    
{% endblock %}