{% extends "tenant_app/profile_base.html" %}

{% block title %}Laundry Request{% endblock %}

{% block profile_content %}
<div class="w-5/6 bg-slate-800 rounded-xl my-10 p-10 flex flex-col justify-center gap-5">
    <h1 class="text-4xl text-center text-white">Laundry Request Items</h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Color</th>
            <th>Price</th>
            <th>Missing</th>
        </tr>
        {% for item in laundry_items %}
        <tr class="text-center">
            <td>{{ item.get_item_display }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.price }}</td>
            {% if item.laundry_request.status == 6 and not item.missing %}
            <td><button onclick="location.href=`{% url 'tenant:report_missing' item.pk %}`">Report Missing</button></td>
            {% else %}
            <td>{{ item.get_missing_display }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>Total</td>
            <td>{{ laundry.calculate_price }}</td>
        </tr>
    </table>
</div>
{% endblock %}