{% extends "base.html" %}

{% block content %}
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
 </button>
{% comment %} <button id="sidebarToggle" class="lg:hidden">Toggle Sidebar</button> {% endcomment %}
    <div class="flex flex-row">
        <div class="bg-gray-800 border-gray-700 w-72 min-h-screen z-0 lg:block hidden" id="sidebar">
            <ul class="w-full">
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:profile' %}`">Profile</li>
                {% if request.user.is_tenant %}
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:monthly_meal_list' %}`">Meal</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:cleaning_request_list' %}`">Cleaning</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:repair_request_list' %}`">Repair</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:laundry_request_list' %}`">Laundry</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:profile' %}`">Missing Laundry</li>
                {% else %}
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:room_request_list' %}`">Room Request</li>
                {% endif %}
            </ul>
        </div>
        <div class="w-full flex justify-center items-start">
            {% block profile_content %}{% endblock %}
        </div>
    </div>
    
{% endblock %}
