{% extends "base.html" %}

{% block content %}
    <div class="flex flex-row">
        <div class="bg-gray-950 w-72 min-h-screen z-0">
            <ul class="w-full">
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:profile' %}`">Profile</li>
                {% if request.user.is_tenant %}
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:monthly_meal_list' %}`">Meal</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:cleaning_requests' %}`">Cleaning</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:rapair_requests' %}`">Repair</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:laundry_requests' %}`">Laundry</li>
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:profile' %}`">Missing Laundry</li>
                {% else %}
                <li class="sidebar-links" onclick="location.href=`{% url 'tenant:room_request_list' %}`">Room Request</li>
                {% endif %}
            </ul>
        </div>
        <div class="w-full">
            {% block profile_content %}{% endblock %}
        </div>
    </div>
    
{% endblock %}
