
{% extends 'base.html' %} 
{% load static %}
{% block title %}Login{% endblock %} 
{% block content%}


<main class="bg-purple-300 flex justify-around h-screen">
  <div class="main py-40 pl-9">
    <div class="text-4xl font-bold">
      Live Life Unleashed: Your Ultimate Bachelor Pad!
    </div>
    <p class="py-3 w-3/4 font-medium">
      Welcome to SoloNest, where style and comfort come together to create the
      ultimate bachelor pad experience. Discover SoloNest, the epitome of modern
      living for bachelors who crave sophistication and convenience. Live life
      on your own terms at SoloNest, a bachelor pad designed to fulfill your
      desires and ignite your passions.
    </p>
    {% if not request.user.is_authenticated %}
    <div class="my-4">
      <button
        class="bg-blue-700 px-3 py-2 rounded-2xl mx-2 text-white hover:text-white hover:bg-purple-900 hover:border-black hover:border-2"
      >
        <a href="{% url "signup" %}">Sign Up</a>
      </button>
      <button
        class="bg-blue-700 px-3 py-2 rounded-2xl text-white hover:text-white hover:bg-purple-900 hover:border-black hover:border-2"
      >
        <a href="{% url "login" %}">Log In</a>
      </button>
    </div>
    {% endif %}
  </div>
  <div class="flex items-center">
    <img class="w-96 mr-96 px-3" src="{% static 'img/home_logo.png' %}" alt="" />
  </div>
</main>

{% endblock %}
