{% extends "base.html" %}
{% load form_tags %}

{% block title %}Update Account Info{% endblock %}

{% block content %}
<div class='flex items-center justify-center bg-purple-300'>
    <div class='w-2/5 bg-gray-100 shadow-md rounded-xl mb-10 mt-10'>
        <div class='flex items-center justify-center p-20 flex-col'>
    <h1 class="text-3xl font-normal text-gray-900 dark:text-gray-600 py-8">Update Account Info</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
        {{ field | add_label_class:"flex items-center justify-center mt-3 pr-50" }}
        {{ field | add_input_class:"p-auto rounded-xl border m-5 w-96" }}
        {{ field.errors }}
        {% endfor %}
        <button type="submit" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-40 mr-40 mt-10 mb-3">Update</button>
    </form>
            <button class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-10 py-2.5 text-center ml-36 mr-40 mt-5 mb-3" ><a href="{% url 'change_password' %}">Change Password</a></button>
        </div>
    </div>
</div>
{% endblock %}
```