{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <p>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
    <p>Birth Date: {{ profile.birth_date }}</p>
    <p>NID: {{ profile.nid }}</p>
    <p>Birth Certificate: {{ profile.birth_certificate }}</p>
    <p>Phone: {{ profile.phone_no }}</p>
    <P>Blood Group: {{ profile.blood_group }}</P>
    <p>Emergency Contact: {{ profile.emergency_contact }}</p>
    <a href="{% url 'profile_update' %}">Update Profile</a>
    <a href="{% url 'update_user' %}">Update Account Info</a>
    <a href="{% url 'change_password' %}">Change Password</a>
    <br>
    <a href="{% url 'room_request' %}">Request Room</a>
    <br>
    <a href="{% url "room_request_list" %}">Room Request List</a>
{% endblock %}