{% extends 'base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class='min-h-screen flex items-start justify-center bg-purple-300'>
    <div class='w-2/5 bg-gray-100 shadow-md rounded-xl mt-10'>
        <div class='flex items-center justify-center pt-10 pb-10 flex-col'>
            <h1 class="text-5xl font-normal text-gray-900 dark:text-gray-600 py-8">Confirm Delete</h1>
            <p>Are you sure you want to delete this request?</p>
            <form method="POST">
                {% csrf_token %}
                <div class="flex justify-center gap-4">
                    <button type="submit" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-5 mb-3"><a href="{% url "room_request_detail" room_request.pk %}">Cancel</a></button>
                    <button type="submit" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-5 mb-3">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}