{% extends "base.html" %}

{% block title %}Room Requests List{% endblock %}

{% block content %}
<div class="relative overflow-x-auto">
    <h1 class="flex md:font-bold items-center justify-center m-5 text-3xl font-normal text-gray-900 dark:text-gray-600">Room Request List</h1>
    <table class="w-full text-sm text-left text-gray-800 dark:text-gray-800">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">Room Type</th>
            <th scope="col" class="px-6 py-3">AC/Non-AC</th>
            <th scope="col" class="px-6 py-3">Balcony</th>
            <th scope="col" class="px-6 py-3">Attached Bathroom</th>
            <th scope="col" class="px-6 py-3">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for room_request in room_requests %}
        <tr class="bg-white border-b dark:bg-gray-200 dark:border-gray-700">
            <td class="px-6 py-4">{{ room_request.get_room_type_display }}</td>
            <td class="px-6 py-4">{{ room_request.get_ac_display }}</td>
            {% if room_request.balcony %}
            <td class="px-6 py-4">Yes</td>
            {% else %}
            <td class="px-6 py-4">No</td>
            {% endif %}
            {% if room_request.attached_bathroom %}
            <td class="px-6 py-4">Yes</td>
            {% else %}
            <td class="px-6 py-4">No</td>
            {% endif %}
            <td class="px-6 py-4">{{ room_request.get_status_display }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
{% endblock %}