{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content%}


<div class="flex flex-row justify-around text-white">
  <div class="py-40 pl-9">
    <div class="text-4xl font-bold">
      Live Life Unleashed: Your Ultimate Bachelor Pad!
    </div>
    <p class="py-3 w-3/4 font-medium">
      Welcome to SoloNest, where style and comfort come together to create the
      ultimate bachelor pad experience. Discover SoloNest, the epitome of modern
      living for bachelors who crave sophistication and convenience. Live life
      on your own terms at SoloNest, a bachelor pad designed to fulfill your
      desires and ignite your passions.
    </p>
    {% if not request.user.is_authenticated %}
    <div class="my-4">
      <button onclick="location.href=`{%url 'accounts:signup' %}`">Sign Up</button>
      <button onclick="location.href=`{%url 'accounts:login' %}`">Log In</button>
    </div>
    {% endif %}
  </div>
  <div class="flex items-center">
    <img class="w-96 mr-96 px-3" src="{% static 'img/home_logo.png' %}" alt="" />
  </div>
</div>

{% endblock %}